body {
  grid-template-columns: 1fr min(100%, 100%) 1fr !important;
  margin: 40px !important;
}
video {
  margin: 1em;
}
.header {
  margin-top: 0;
  margin-bottom: 1.5em;
  border: 1px;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
  width: fit-content;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
